.search-input-wrapper {
  padding: 20px 20px 20px 20px;
}

.search-input {
  width: 50%;
}

.search-box-label {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.search-input {
  height: 40px;
  font-size: 25px;
  border-radius: 20px;
  margin-right: 10px;
  padding-left: 15px;
}

.search-icon {
  max-width: 24px;
  max-height: 24px;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 96 960 960' width='24'%3E%3Cpath d='M784 936 532 684q-30 24-69 38t-83 14q-109 0-184.5-75.5T120 476q0-109 75.5-184.5T380 216q109 0 184.5 75.5T640 476q0 44-14 83t-38 69l252 252-56 56ZM380 656q75 0 127.5-52.5T560 476q0-75-52.5-127.5T380 296q-75 0-127.5 52.5T200 476q0 75 52.5 127.5T380 656Z'/%3E%3C/svg%3E");
  margin-right: 5px;
  cursor: pointer;
}

.search-button {
  background-color: white;
  border-radius: 20px;
  width: max-content;
  padding: 10px;
  height: 40px;
  cursor: pointer;
}

.search-button:hover {
  cursor: pointer;
  background: rgba(185, 184, 184, 0.5);
}
